[submodule "src/rct"]
	path = src/rct
	url = https://github.com/Andersbakken/rct.git
[submodule "src/wslay"]
	path = src/wslay
	url = https://github.com/tatsuhiro-t/wslay.git
[submodule "src/json"]
	path = src/json
	url = https://github.com/nlohmann/json.git
[submodule "src/echo-bridge"]
	path = src/echo-bridge
	url = https://github.com/armzilla/amazon-echo-ha-bridge.git
