[submodule "src/reckoning"]
	path = src/reckoning
	url = https://github.com/jhanssen/reckoning.git
[submodule "3rdparty/openzwave"]
	path = 3rdparty/openzwave
	url = https://github.com/OpenZWave/open-zwave.git
[submodule "3rdparty/nlohmann-json"]
	path = 3rdparty/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/replxx"]
	path = 3rdparty/replxx
	url = https://github.com/AmokHuginnsson/replxx.git
