<html>
  <head>
    <title>Homework</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/node_modules/wolfy87-eventemitter/EventEmitter.min.js"></script>
    <script src="/node_modules/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
    <script src="/node_modules/angular-bootstrap-switch/dist/angular-bootstrap-switch.min.js"></script>
    <script src="/node_modules/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
    <script src="/node_modules/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
    <script src="/sub/angular-bootstrap-slider/slider.js"></script>
    <script src="index.js"></script>
    <link type="text/css" rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"></link>
    <link type="text/css" rel="stylesheet" href="/node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css"></link>
    <link type="text/css" rel="stylesheet" href="/node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css"></link>
    <link type="text/css" rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"></link>
    <link type="text/css" rel="stylesheet" href="/node_modules/font-awesome-animation/dist/font-awesome-animation.min.css"></link>
    <link type="text/css" rel="stylesheet" href="/node_modules/angular-bootstrap-colorpicker/css/colorpicker.min.css"></link>
    <link type="text/css" rel="stylesheet" href="/sub/animate.css/animate.min.css"></link>
    <link type="text/css" rel="stylesheet" href="index.css"></link>
 </head>
  <body ng-app="app" ng-controller="mainController">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
      <div class="container">
	<div class="navbar-header">
	  <a class="navbar-toggle">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </a>
	  <a class="navbar-brand" href="#">Homework</a>
	</div>
	<div id="slidemenu">
	  <div class="hw-spacer navbar-right"></div>
	  <ul class="nav navbar-nav">
	    <li ng-class="activeClass('devices')"><a href="#devices">Devices</a></li>
	    <li ng-class="activeClass('rules')"><a href="#rules">Rules</a></li>
	    <li ng-class="activeClass('variables')"><a href="#variables">Variables</a></li>
	    <li ng-class="activeClass('timers')"><a href="#timers">Timers</a></li>
	  </ul>
	</div>
      </div>
    </div>
    <div id="page-content">
      <div ng-if="isActive('devices')" class="container" ng-controller="devicesController">
	<h2>Devices</h2>
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 center-block text-center" ng-repeat="(uuid, dev) in devices">
	      <div class="hw-frame">
		<div>
		  {{dev.name}}
		  <a href="#device/{{dev.safeuuid}}" class="btn btn-default btn-xs">...</a>
		</div>
		<div ng-if="dev.type == Type.Dimmer" class="hw-margin center-block">
		  <slider ng-attr-id="{{'slider-'+dev.safeuuid}}" ng-model="dev.level" min="0" step="1" max="dev.max"></slider>
		</div>
		<div ng-if="dev.type == Type.Light || dev.type == Type.Fan" class="hw-margin center-block">
		  <input bs-switch ng-model="dev.value" type="checkbox"></input>
		</div>
		<div ng-if="dev.type == Type.RGBWLed" class="hw-margin center-block">
		  <div tooltip-placement="top" uib-tooltip="{{dev.colorRGBW}}"><i colorpicker ng-model="dev.color" class="fa fa-tint hw-big" ng-style="{'color': dev.color}"></i></div>
		  <slider ng-model="dev.white" min="0" step="1" max="255"></slider>
		</div>
		<div ng-if="dev.type == Type.Sensor" class="hw-margin center-block">
		  <div><i class="fa fa-hand-paper-o hw-big ng-class:{'faa-shake animated': dev.motion} "></i></div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div ng-if="isActive('device')" class="container" ng-controller="deviceController">
	<h2>{{dev.name}}</h2>
	<div class="container">
	  <div class="row" ng-repeat="val in vals">
	    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	      {{val.name}}
	    </div>
	    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	      <div ng-if="val.readOnly">
		{{val.value}} {{val.units}}
	      </div>
	      <div ng-if="!val.readOnly">
		<form ng-submit="setValue(val)">
		  <input type="text" ng-model="val.value">
		</form>
		{{val.units}}
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div ng-if="isActive('rules')" class="container" ng-controller="ruleController">
	<div ng-class="ruleClass()">
	  <div>
	    <h2 class="pull-left">Rules</h2>
	    <button class="pull-right btn btn-success h2" type="button" ng-click="addRule()">Add</button>
	  </div>
	  <div class="hw-clear btn-group-vertical hw-expand-horizontal" role="group">
	    <div ng-repeat="rule in rules" class="btn-group" role="group">
	      <a type="button" class="btn btn-default" ng-href="#rules/{{rule.safename}}">
		{{rule.name}}
	      </a>
	      <div ng-if="activeRule(rule.safename)" ng-controller="editRuleController">
		<div ng-attr-id="edit-{{rule.safename}}" class="hw-modifyrule hw-pad" compile="generate(rule)"></div>
	      </div>
	    </div>
	  </div>
	</div>
	<div id="addRuleModal" class="modal fade" role="dialog" ng-controller="addRuleController">
	  <div class="modal-dialog hw-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Add rule</h4>
	      </div>
	      <div class="modal-body" compile="generate()">
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-default" ng-click="save()">Save</button>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div ng-if="isActive('variables')" class="container" ng-controller="variableController">
	<div>
	  <h2 class="pull-left">Variables</h2>
	  <button class="pull-right btn btn-success h2" type="button" ng-click="addVariable()">Add</button>
	</div>
	<div class="hw-clear container-fluid">
	  <div ng-if="error" class="alert alert-danger">
	    <strong>Error</strong> {{error}}
	  </div>
	  <div ng-if="success" class="alert alert-success">
	    {{success}}
	  </div>
	  <div class="row" ng-repeat="(name, val) in variables">
	    <div ng-attr-id="key-{{name}}" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block text-center">
	      {{name}}
	    </div>
	    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	      <input ng-attr-id="val-{{name}}" type="text" ng-model="variables[name]">
	      <button type="button" class="btn btn-default btn-xs" ng-click="clear(name)">&times;</button>
	    </div>
	  </div>
	  <div class="row">
	    <div class="pull-right"><button type="button" class="btn btn-primary" ng-click="save()">Save</button></div>
	  </div>
	</div>
	<div id="addVariableModal" class="modal fade" role="dialog" ng-controller="addVariableController">
	  <div class="modal-dialog hw-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Add variable</h4>
	      </div>
	      <div class="modal-body">
		<div ng-if="error" class="alert alert-danger">
		  <strong>Error</strong> {{error}}
		</div>
		<div class="hw-clear container-fluid">
		  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block text-center">
		    Name
		  </div>
		  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		    <input type="text" ng-model="name">
		  </div>
		</div>
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-default" ng-click="save()">Save</button>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div ng-if="isActive('timers')" class="container" ng-controller="timerController">
	<h2>Timers</h2>
	<div class="hw-clear container-fluid">
	  <div ng-if="error" class="row alert alert-danger">
	    <strong>Error</strong> {{error}}
	  </div>
	  <div ng-if="success" class="row alert alert-success">
	    {{success}}
	  </div>
	  <div class="row">
	    <div class="hw-col hw-col-12">
	      <div>
		<h4 class="pull-left">Timeouts</h4>
		<button class="pull-right btn btn-success h4" type="button" ng-click="add('timeout')">Add</button>
	      </div>
	      <div class="hw-clear container-fluid">
		<div class="row" ng-repeat="(name, val) in timeout">
		  <div ng-attr-id="timeout-{{name}}" class="hw-col hw-col-3">
		    {{name}}
		  </div>
		  <div class="hw-col hw-col-3">
		    {{val.timeout || val.state}}
		  </div>
		  <div class="hw-col hw-col-3">
		    {{val.now}}
		  </div>
		  <div class="hw-col hw-col-3">
		    <button class="btn btn-default" type="button" ng-click="restart(name, 'timeout')">Start</button>
		    <button class="btn btn-default" type="button" ng-click="stop(name, 'timeout')">Stop</button>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="hw-col hw-col-12">
	      <div>
		<h4 class="pull-left">Intervals</h4>
		<button class="pull-right btn btn-success h4" type="button" ng-click="add('interval')">Add</button>
	      </div>
	      <div class="hw-clear container-fluid">
		<div class="row" ng-repeat="(name, val) in interval">
		  <div ng-attr-id="interval-{{name}}" class="hw-col hw-col-3">
		    {{name}}
		  </div>
		  <div class="hw-col hw-col-3">
		    {{val.timeout || val.state}}
		  </div>
		  <div class="hw-col hw-col-3">
		    {{val.now}}
		  </div>
		  <div class="hw-col hw-col-3">
		    <button class="btn btn-default" type="button" ng-click="restart(name, 'interval')">Start</button>
		    <button class="btn btn-default" type="button" ng-click="stop(name, 'interval')">Stop</button>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="hw-col hw-col-12">
	      <div>
		<h4 class="pull-left">Schedules</h4>
		<button class="pull-right btn btn-success h4" type="button" ng-click="add('schedule')">Add</button>
	      </div>
	      <div class="hw-clear container-fluid">
		<div class="row" ng-repeat="(name, val) in schedule">
		  <div class="hw-col hw-col-6">
		    {{name}}
		  </div>
		  <div class="hw-col hw-col-6">
		    <input type="text" ng-model="schedule[name]">
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="hw-col hw-col-12 hw-pad-1">
	      <div class="pull-right"><button type="button" class="btn btn-primary" ng-click="saveSchedules()">Save</button></div>
	    </div>
	  </div>
	</div>

	<div id="addTimerModal" class="modal fade" role="dialog" ng-controller="addTimerController">
	  <div class="modal-dialog hw-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Add {{adding}}</h4>
	      </div>
	      <div class="modal-body">
		<div ng-if="error" class="alert alert-danger">
		  <strong>Error</strong> {{error}}
		</div>
		<div class="hw-clear container-fluid">
		  <div class="row">
		    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block text-center">
		      Name
		    </div>
		    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		      <input type="text" ng-model="timername">
		    </div>
		  </div>
		  <div class="row" ng-if="adding=='schedule'">
		    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block text-center">
		      Value
		    </div>
		    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		      <input type="text" ng-model="$parent.timervalue">
		    </div>
		  </div>
		</div>
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-default" ng-click="save()">Save</button>
	      </div>
	    </div>
	  </div>
	</div>
	<div id="restartTimerModal" class="modal fade" role="dialog">
	  <div class="modal-dialog hw-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Start {{restarting.name}}</h4>
	      </div>
	      <div class="modal-body">
		<div class="hw-clear container-fluid">
		  <div class="row">
		    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block text-center">
		      Value
		    </div>
		    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		      <input type="text" ng-model="restarting.value">
		    </div>
		  </div>
		</div>
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-default" ng-click="restart()">Start</button>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
