body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.bootstrap-switch { height: 2.5em }
.homework-btn-height { height: 4em; display: flex; justify-content: center; align-items: center }
