<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/nya-bootstrap-select/dist/css/nya-bs-select.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
    <script src="bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.min.js"></script>
    <script src="bower_components/nya-bootstrap-select/dist/js/nya-bs-select.min.js"></script>
    <script src="require1k/require1k.min.js"></script>
    <script src="client.js"></script>
  </head>
  <body ng-app="homework" ng-controller="AppController" onload="client.start()">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">Homework</a>
	</div>
	<div id="navbar" class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
	    <li ng-repeat="(name, active) in entries" ng-class="{active: active}">
	      <a href="#entry-{{name}}">{{name}}</a>
	    </li>
	  </ul>
	</div><!--/.nav-collapse -->
      </div>
    </nav>

    <div ng-if="entries.Devices" id="devices" ng-controller="DeviceController">
      <div id="main" class="container" ng-controller="MainController">

	<div class="starter-template">
	  <h1>Homework</h1>
	  <p class="lead">{{$parent.text}}</p>

	  <div class="list-group">
	    <a href="#device-{{value.identifier}}" class="list-group-item" ng-repeat="(key, value) in $parent.devices">{{value.name}}</a>
	  </div>
	</div>

      </div><!-- /.container -->

      <div ng-repeat="(key, value) in devices">
	<div class="ng-hide" id="device-{{value.identifier}}">
	  {{value}}
	</div>
      </div>

      <div class="modal fade" id="deviceModal">
	<div class="modal-dialog">
	  <div class="modal-content" ng-if="!currentDeviceController">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <h4 class="modal-title">{{currentDevice.name}}</h4>
	    </div>
	    <div class="modal-body">
	      <div class="list-group">
		<a href="#deviceController-{{ctrl.identifier}}" class="list-group-item" ng-repeat="(id, ctrl) in currentDevice.controllers">{{ctrl.name}}</a>
	      </div>
	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
	    </div>
	  </div><!-- /.modal-content -->
	  <div class="modal-content" ng-if="currentDeviceController !== undefined">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <h4 class="modal-title">{{currentDeviceController.name}}</h4>
	    </div>
	    <div class="modal-body">
	      <div ng-bind-html="controllerBody(currentDeviceController) | sanitize" compile-template></div>
	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn" ng-click="modalBack()">Back</button>
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    </div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
      </div>
    </div>

    <div ng-if="entries.Scenes">
      Hello
    </div>
  </body>
</html>
